body {
  background-image: url(https://i.imgur.com/4QqGTWt.jpg);
  background-position: center;
  background-size: 1300px 1300px;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #29648A;
  font-family:'Cormorant Upright';font-size: 22px;
  line-height: 18px;
  
}

/* unvisited link */
a:link {
  color: rgb(153, 153, 153);
}

/* visited link */
a:visited {
  color: rgb(153, 153, 153);
}

a:hover {
  color: #DAAD86;
}

 .field_with_errors {
    padding: 1px;
    background-color: rgb(175, 3, 3);
    display: table;
  }
  #error_explanation {
    color: rgb(175, 3, 3);
  }

  /* The navbar container */
  .topnav {
    overflow: hidden;
    
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    color: #DAAD86;
  }

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.branding {
  clear: both;
}

footer.branding {
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 10px;
}

  