<h1>Experience life untriggered.</h1> 
<p>
This app was created with &hearts; in an effort to bring awarenesss to the importance of <br>
mental health and emotional healing in a time when outrage seems prevalent. <br> 
Journaling is a way to learn to recognize our emotions as well as our behavior when certain emotions arise. <br>
Once we are aware of these mechanics we can, over time, learn to slow our minds and choose to behave differently 
in the face of high emotion. <br>
</p>