<h1>Experience life untriggered.</h1> <br>
<p>
This app was created with &hearts; in a society where outrage seems prevalent. <br> 
It's time to put the focus on our own mental health and emotional healing. <br>
Journaling is a way to learn to recognize our emotions as well as our behavior when certain emotions arise. <br>
Once we are aware of these mechanics we can, over time, learn to slow our minds and choose to behave differently 
in the face of high emotion. <br>
</p>